#contenedor{
    margin-top: 8rem;
    width: 600px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
   
}

#navbar{
    height: 10rem;
    text-align: center;
    background-color: blue;
    color: white;
}
#menu{
    height: 50px;
    text-align: center;
    background-color: mediumaquamarine;
}
#cuerpo{
    height: 17rem;
    text-align: center;
    background-color: rgb(204, 181, 152);
}
#alterno{
    height: 17rem;
    text-align: center;
    background-color: rgb(169, 78, 78);
    color: white;
}
#PIE{
    color: white;
    height: 6rem;
    text-align: center;
    background-color: blue;
}